global:
  # Add your license information 
  licence:
    # -- Licence Secret with label `formance.com/stack: any`
    # @section -- Licence configuration
    createSecret: true
    # -- Obtain your licence cluster id with `kubectl get ns kube-system -o jsonpath='{.metadata.uid}'`
    # @section -- Licence configuration
    clusterID: ""
    # -- Licence Environment 
    # @section -- Licence configuration
    issuer: "https://license.formance.cloud/keys"
    # -- Licence Client Token delivered by contacting [Formance](https://formance.com)
    # @section -- Licence configuration
    token: ""
    # -- Licence Client Token as a secret
    # @section -- Licence configuration
    existingSecret: ""
    secretKeys:
      # -- Hardcoded in the operator
      # @section -- Licence configuration
      token: "token"

operator:
  enabled: true

  fullnameOverride: "operator"
  nameOverride: "operator"

  image:
    repository: "ghcr.io/formancehq/operator"
    tag: ""
  operator:
    disableWebhooks: false
    region: "private"
    env: "private"
    metricsAddr: ":8080"
    probeAddr: ":8081"
    enableLeaderElection: true

  # Only Helm Release are impacted on first install.
  # Use `components/operator/helm/crds` to install crds separately
  # Deprecated: operator-crds, will be removed in a future release,
  # please use operator-crds.create:true, to first update crds with `helm.sh/resource-policy: keep`
  # Then you will be able to disable it and moved to the new chart `components/operator/helm/operator-crds`
  # If using Helm Release, you will need to set `meta.helm.sh/release-name` and `meta.helm.sh/release-namespace` to the new relase name and namespace on all CRDs from Group: formance.com
  operator-crds:
    create: true

agent:
  enabled: false

  image:
    tag: ""
  server:
    address: "app.formance.cloud:443"
    tls:
      enabled: true
      insecureSkipVerify: true

  agent:
    id: "aws-eu-west-1-sandbox"
    baseUrl: https://sandbox.formance.cloud

    authentication:
      mode: bearer
      issuer: https://app.formance.cloud/api
      clientID: "REGION_ID"
      clientSecret: ""

versions:
  create: true
  files:
    default:
      orchestration: v0.2.1
      reconciliation: v0.1.0
      search: v0.10.0
      auth: v0.4.4
      wallets: v0.4.6
      webhooks: v2.0.18
      payments: v1.0.0-rc.5
      stargate: v0.1.10
      gateway: v2.0.18
      ledger: v1.10.14
    v1.0:
      orchestration: v0.2.1
      reconciliation: v0.1.0
      search: v0.10.0
      auth: v0.4.4
      wallets: v0.4.6
      webhooks: v2.0.18
      payments: v1.0.0-rc.5
      stargate: v0.1.10
      gateway: v2.0.18
      ledger: v1.10.14
    v2.0:
      ledger: v2.0.24
      search: v2.0.24
      stargate: v2.2.1
      auth: v2.3.0
      wallets: v2.0.24
      webhooks: v2.0.24
      gateway: v2.0.24
      payments: v2.0.31
      orchestration: v2.0.24
      reconciliation: v2.0.24
    v2.1:
      ledger: v2.1.7
      search: v2.0.24
      stargate: v2.2.1
      auth: v2.3.0
      wallets: v2.1.5
      webhooks: v2.1.0
      gateway: v2.0.24
      payments: v2.0.31
      orchestration: v2.0.24
      reconciliation: v2.0.24
    v2.2:
      ledger: v2.2.47
      search: v2.0.24
      stargate: v2.2.1
      auth: v2.3.0
      wallets: v2.1.5
      webhooks: v2.1.0
      gateway: v2.0.24
      payments: v2.0.31
      orchestration: v2.0.24
      reconciliation: v2.0.24
    v3.0:
      payments: v3.0.18
      ledger: v2.2.47
      search: v2.1.0
      stargate: v2.2.1
      auth: v2.3.0
      wallets: v2.1.5
      webhooks: v2.1.0
      gateway: v2.1.0
      orchestration: v2.1.1
      reconciliation: v2.1.0
    v3.1:
      payments: v3.0.18
      ledger: v2.3.0
      search: v2.1.0
      stargate: v2.2.1
      auth: v2.3.0
      wallets: v2.1.5
      webhooks: v2.2.0
      gateway: v2.1.0
      orchestration: v2.4.0
      reconciliation: v2.2.0
    v3.2-rc:
      payments: v3.1.0-rc.3
      ledger: v2.3.0
      search: v2.1.0
      stargate: v2.2.1
      auth: v2.3.0
      wallets: v2.1.5
      webhooks: v2.2.0
      gateway: v2.1.0
      orchestration: v2.4.0
      reconciliation: v2.2.0
