{{- if .Values.demo.enabled }}
---
apiVersion: formance.com/v1beta1
kind: Stack
metadata:
  name: {{ .Values.demo.stack.name }}
  labels:
    {{- include "formance.labels" . | nindent 4 }}
    app.kubernetes.io/component: demo
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "20"
spec:
  versionsFromFile: {{ .Values.demo.stack.version }}
{{- if .Values.demo.modules.gateway }}
---
apiVersion: formance.com/v1beta1
kind: Gateway
metadata:
  name: {{ .Values.demo.stack.name }}
  labels:
    {{- include "formance.labels" . | nindent 4 }}
    app.kubernetes.io/component: demo
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "21"
spec:
  stack: {{ .Values.demo.stack.name }}
{{- end }}
{{- if .Values.demo.modules.ledger }}
---
apiVersion: formance.com/v1beta1
kind: Ledger
metadata:
  name: {{ .Values.demo.stack.name }}
  labels:
    {{- include "formance.labels" . | nindent 4 }}
    app.kubernetes.io/component: demo
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "21"
spec:
  stack: {{ .Values.demo.stack.name }}
{{- end }}
{{- end }}
