apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "core.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "core.labels" . | nindent 4 }}
data:
  config.yaml: |-
    staticClients:
      {{- if .Values.config.fctl }}
      - id: fctl
        public: true
      {{- end }}
      {{- range $serviceName, $service := .Values.global.platform }}
      {{- if (and (hasKey $service "oauth") (hasKey $service.oauth "client") $service.enabled) }}
      - id: "{{ $service.oauth.client.id }}"
        secrets:
        - "{{ printf "$%s_OAUTH_CLIENT_SECRET" (upper $serviceName) }}"
        redirectUris:
        {{- tpl ($service.oauth.client.redirectUris) $ | nindent 8 }}
        postLogoutRedirectUris:
        {{- tpl ($service.oauth.client.postLogoutRedirectUris) $ | nindent 8 }}
        scopes:
        {{- range $scope := $service.oauth.client.scopes }}
        - {{ $scope }}
        {{- end }}
      {{- end }}
      {{- end }}
      {{- with .Values.config.auth.additionalOAuthClients }}
      {{- tpl (toYaml .) $ | nindent 6 }}
      {{- end }}
    {{ if gt (.Values.config.oidc.connectors | len ) 0 }}
    connectors:
    {{- with .Values.config.oidc.connectors }}
    {{- tpl (toYaml .) $ | nindent 6 }}
    {{- end }}
    {{- end }}


