global:
  # -- Enable debug mode
  # @section -- Global configuration
  debug: false
  # -- is the base domain for portal and console
  # @section -- Global configuration
  serviceHost: ""

  # Add your license information 
  licence:
    # -- Obtain your licence cluster id with `kubectl get ns kube-system -o jsonpath='{.metadata.uid}'`
    # @section -- Licence configuration
    clusterID: ""
    # -- Licence Environment 
    # @section -- Licence configuration
    issuer: "https://license.formance.cloud/keys"
    # -- Licence Client Token delivered by contacting [Formance](https://formance.com)
    # @section -- Licence configuration
    token: ""
    # -- Licence Client Token as a secret
    # @section -- Licence configuration
    existingSecret: ""
    secretKeys:
      # -- Key in existing secret to use for Licence Client Token
      # @section -- Licence configuration
      token: ""

  aws:
    # -- Enable AWS IAM Authentification
    # @section -- Global AWS configuration
    iam: false
    # -- Enable AWS ELB across all services, appropriate <service>.aws.targertGroup must be set
    # @section -- Global AWS configuration
    elb: false
  platform:
    consoleV3:
      # -- Enable console-v3
      # @section -- Global configuration
      enabled: true
      # -- is the scheme for the console
      # @section -- Global configuration
      scheme: "https"
      # -- is the host for the console
      # @section -- Global configuration
      host: "console.v3.{{ .Values.global.serviceHost }}"
    portal:
      enabled: true
      # -- is the scheme for the portal
      # @section -- Global configuration
      scheme: "https"
      # -- is the host for the portal
      # @section -- Global configuration
      host: "portal.{{ .Values.global.serviceHost }}"
    stargate:
      # -- if enabled, the stackApiUrl is not required
      # It will be templated with `{{ printf "http://%s-%s:8080/#{organizationId}/#{stackId}/api" .Release.Name "stargate" -}}`
      # @section -- Stargate configuration
      enabled: false
      # -- if stargate is disabled, the stackApiUrl is defaulted to the `http://gateway.#{organizationId}-#{stackId}.svc:8080/api`
      # To allow external access sets the stackApiUrl to an external url
      # @section -- Stargate configuration
      stackApiUrl: ""
    membership:
      # -- is the scheme for the membership
      # @section -- Global configuration
      scheme: "https"
      # -- is the host for the membership
      # @section -- Global configuration
      host: "membership.{{ .Values.global.serviceHost }}"
      relyingParty:
        # -- is the scheme for the membership
        # @section -- Global configuration
        scheme: "https"
        # -- is the host for the membership
        # @section -- Global configuration
        host: "dex.{{ .Values.global.serviceHost }}"
      oidc:
        # -- is the scheme for the issuer
        scheme: "https"
        # -- is the host for the oidc
        host: "dex.{{ .Values.global.serviceHost }}"
  monitoring:
    traces:
      # -- Enable otel tracing
      # @section -- Global configuration
      enabled: false
      # -- Enable otel batching
      # @section -- Global configuration
      batch: false
      # -- Endpoint
      # @section -- Global configuration
      endpoint: "localhost"
      # -- Exporter
      # @section -- Global configuration
      exporter: "otlp"
      # -- Insecure
      # @section -- Global configuration
      insecure: true
      # -- Mode
      # @section -- Global configuration
      mode: "grpc"
      # -- Port
      # @section -- Global configuration
      port: 4317
    logs:
      # -- Enable logging
      # @section -- Global configuration
      enabled: true
      # -- Level: Info, Debug, Error
      # @section -- Global configuration
      level: "info"
      # -- Format
      # @section -- Global configuration
      format: "json"

    metrics:
      # -- Enable otel metrics
      # @section -- Global configuration
      enabled: false
      # -- Endpoint
      # @section -- Global configuration
      endpoint: ""
      # -- Exporter
      # @section -- Global configuration
      exporter: "otlp"
      # -- Insecure
      # @section -- Global configuration
      insecure: true
      # -- Port
      # @section -- Global configuration
      port: 4317
      # -- Mode
      # @section -- Global configuration
      mode: grpc

  postgresql:
    # -- Host for PostgreSQL (overrides included postgreql `host`)
    # @section -- Global configuration
    host: ""
    # -- Additional arguments for PostgreSQL Connection URI
    # @section -- Global configuration
    additionalArgs: "sslmode=disable"
    auth:
      # -- Name for a custom user to create (overrides `auth.username`)
      # @section -- Global configuration
      username: formance
      # -- Password for the "postgres" admin user (overrides `auth.postgresPassword`)
      # @section -- Global configuration
      password: formance
      # -- Name for a custom database to create (overrides `auth.database`)
      # @section -- Global configuration
      database: formance
      # -- Password for the custom user to create (overrides `auth.password`)
      # @section -- Global configuration
      postgresPassword: formance
      # -- Name of existing secret to use for PostgreSQL credentials (overrides `auth.existingSecret`).
      # @section -- Global configuration
      existingSecret: ""
      secretKeys:
        # -- Name of key in existing secret to use for PostgreSQL credentials (overrides `auth.secretKeys.adminPasswordKey`). Only used when `global.postgresql.auth.existingSecret` is set.
        # @section -- Global configuration
        adminPasswordKey: ""
        # -- Name of key in existing secret to use for PostgreSQL credentials (overrides `auth.secretKeys.userPasswordKey`). Only used when `global.postgresql.auth.existingSecret` is set.
        # @section -- Global configuration
        userPasswordKey: ""
    service:
      ports:
        # -- PostgreSQL service port (overrides `service.ports.postgresql`)
        # @section -- Global configuration
        postgresql: 5432
