apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "auth.fullname" . }}
  labels:
    {{- include "auth.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "auth.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "auth.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "auth.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: DEBUG
              value: {{ .Values.auth.debug | quote }}
            - name: POSTGRES_URI
              value: {{ .Values.auth.postgresURI | quote }}
            - name: CAOS_OIDC_DEV
              value: {{ .Values.auth.caosOIDCdev | quote }}
            - name: DELEGATED_CLIENT_ID
              value: {{ .Values.auth.delegated.clientID | quote }}
            - name: DELEGATED_CLIENT_SECRET
              value: {{ .Values.auth.delegated.clientSecret | quote }} 
            - name: DELEGATED_ISSUER
              value: {{ .Values.auth.delegated.issuer | quote }}
            - name: CONFIG
              value: {{ .Values.auth.congigurationFilePath | quote }}
            - name: BASE_URL
              value: {{ .Values.auth.baseUrl | quote }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          volumesMount:
            - name: config
              mountPath: /config.yaml
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      volumes:
        - name: "config"
          configMap:
            name: "{{ .Release.Name }}-configmap"
            items:
              - key: config.yaml
                path: config.yaml
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
