global:
  # -- Enable debug mode
  # @section -- Global configuration
  debug: false
  # -- is the base domain for portal and console
  # @section -- Global configuration
  serviceHost: ""

  aws:
    # -- Enable AWS ELB across all services, appropriate <service>.aws.targertGroup must be set
    # @section -- Global AWS configuration
    elb: false

  monitoring:
    traces:
      # -- Enable otel tracing
      # @section -- Global configuration
      enabled: false
      # -- Enable otel batching
      # @section -- Global configuration
      batch: false
      # -- Endpoint
      # @section -- Global configuration
      endpoint: ""
      # -- Exporter
      # @section -- Global configuration
      exporter: "otlp"
      # -- Insecure
      # @section -- Global configuration
      insecure: true
      # -- Mode
      # @section -- Global configuration
      mode: "grpc"
      # -- Port
      # @section -- Global configuration
      port: 4317

  platform:
    portal:
      # -- is the scheme for the portal
      # @section -- Global configuration
      scheme: "https"
      # -- is the host for the portal
      # @section -- Global configuration
      host: "portal.{{ .Values.global.serviceHost }}"

    # -- Console V3: EXPERIMENTAL
    # @section -- Global configuration
    consoleV3:
      # -- is the scheme for the console
      # @section -- Global configuration
      scheme: "https"
      # -- is the host for the console
      # @section -- Global configuration
      host: "console.v3.{{ .Values.global.serviceHost }}"
      oauth:
        client:
          # -- is the id of the client
          # @section -- Global configuration
          id: "console-v3"
          # -- is the secret of the client
          # @section -- Global configuration
          secret: "changeMe2"
          # -- is the name of the secret
          # @section -- Global configuration
          existingSecret: ""
          # -- is the key contained within the secret
          # @section -- Global configuration
          secretKeys:
            secret: ""
          scopes:
          - accesses
          - remember_me
          - keep_refresh_token
          - on_behalf
          redirectUris: |
            - {{ tpl (printf "%s://%s" .Values.global.platform.consoleV3.scheme .Values.global.platform.consoleV3.host) $ }}/auth/login
            - {{ tpl (printf "%s://%s" .Values.global.platform.consoleV3.scheme .Values.global.platform.consoleV3.host) $ }}/auth/login-by-org
          postLogoutRedirectUris: |
            - {{ tpl (printf "%s://%s" .Values.global.platform.consoleV3.scheme .Values.global.platform.consoleV3.host) $ }}/auth/logout
    stargate:
      # -- if enabled, the stackApiUrl is not required
      # It will be templated with `{{ printf "http://%s-%s:8080/#{organizationId}/#{stackId}/api" .Release.Name "stargate" -}}`
      # @section -- Stargate configuration
      enabled: false
      # -- if stargate is disabled, the stackApiUrl is defaulted to the `http://gateway.#{organizationId}-#{stackId}.svc:8080/api`
      # To allow external access sets the stackApiUrl to an external url
      # @section -- Stargate configuration
      stackApiUrl: ""

    membership:
      # -- is the scheme for the membership
      # @section -- Global configuration
      scheme: "https"
      # -- is the host for the membership
      # @section -- Global configuration
      host: "membership.{{ .Values.global.serviceHost }}"

# -- Number of replicas
replicas: 1

podDisruptionBudget:
  # -- Enable pod disruption budget
  enabled: false
  # -- Minimum available pods
  minAvailable: 1
  # -- Maximum unavailable pods
  maxUnavailable: 0

# -- Pod Security Context
podSecurityContext: {}

# -- Container Security Context
securityContext: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

serviceAccount:
  # -- Service account creation
  create: true
  # -- Service account name
  name: ""
  # -- Service account annotations
  annotations: {}

image:
  # -- image repository
  repository: ghcr.io/formancehq/console-v3
  # -- image pull policy
  pullPolicy: IfNotPresent
  # -- image tag
  tag: ""

# -- image pull secrets
imagePullSecrets: []

# -- Console resources
resources: {}
  # requests:
  #   cpu: 250m
  #   memory: 512Mi
  # limits:
  #   cpu: 500m
  #   memory: 2048Mi

# -- Console readiness probe
readinessProbe: {}

# -- Console liveness probe
livenessProbe: {}

service:
  # -- service annotations
  annotations: {}
  # -- service type
  type: ClusterIP
  # -- service cluster IP
  clusterIP: ""
  ports:
    # -- service http port
    http:
      port: 3000
      # -- service node port
      # nodePort:

      # -- AWS Console target groups
      # @section -- Global AWS configuration
aws:
  targetGroups:
    http:
      # -- Target group IP address type
      ipAddressType: "ipv4"
      # -- Target group target type
      targetType: "ip"
      # -- Target group ARN
      targetGroupARN: ""
      serviceRef:
        # -- Target group service reference name
        name: '{{ include "core.fullname" $ }}'
        # -- Target group service reference port
        port: "{{ .Values.service.ports.http.port }}"

ingress:
  # -- ingress enabled
  enabled: true
  # -- ingress class name
  className: ""
  # -- ingress annotations
  annotations: {}
  # -- ingress labels
  labels: {}
  hosts:
  # -- ingress host
  - host: "{{ tpl .Values.global.platform.consoleV3.host $ }}"
    paths:
    # -- ingress path
    - path: /
      # -- ingress path type
      pathType: Prefix
  # -- ingress tls
  tls: []
    # -- ingress tls secret name
    # - secretName: YOUR_TLS_SECRET_NAME

# -- Console volume mounts
volumeMounts: []

# -- Console annotations 
annotations: {}

# -- Console volumes
volumes: []

# -- Console node selector
nodeSelector: {}

# -- Console tolerations
tolerations: []

# -- Console affinity
affinity: {}

config:
  # -- Deprecated
  stargate_url: ""

  # -- Enable managed stack mode (1 = enabled, 0 = disabled)
  managedStack: "1"

  cookie:
    # -- is used to encrypt a cookie value
    encryptionKey: "changeMe00"
    # -- is the name of the secret
    existingSecret: ""
    # -- is the key contained within the secret
    secretKeys:
      encryptionKey: ""

  # -- Console environment
  environment: production
  # -- Console additional environment variables
  additionalEnv: []
    # -- Console additional environment variables HOST
    # - name: HOST
    #   value: "0.0.0.0"
    # -- Console additional environment variables FEATURE_DISABLED
    # - name: FEATURE_DISABLED
    #   value: "true"
  sentry:
    # -- Sentry enabled
    enabled: false
    # -- Sentry DSN
    dsn: ""
    # -- Sentry environment
    environment: ""
    # -- Sentry release
    release: ""
    # -- Sentry Auth Token
    authToken:
      value: ""
      existingSecret: ""
      secretKeys:
        value: ""
  # -- Override global configuration
  # monitoring:
  #   # -- Override otel service name
  #   serviceName: ""
  #   # -- Override otel resources attributes
  #   attributes: ""
  #   traces:
  #     # -- Enable otel tracing
  #     # @section -- Global configuration
  #     enabled: false
  #     # -- Endpoint
  #     # @section -- Global configuration
  #     endpoint: "localhost"
  #     # -- Exporter
  #     # @section -- Global configuration
  #     exporter: "otlp"
  #     # -- Insecure
  #     # @section -- Global configuration
  #     insecure: true
  #     # -- Mode
  #     # @section -- Global configuration
  #     mode: "grpc"
  #     # -- Port
  #     # @section -- Global configuration
  #     port: 4317
