# Default values for gateway.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

email: support@formance.com
dnsZones:
  - "numary.cloud"
  - "formance.cloud"
  - "formance.dev"
defaultCertificateRequest:
  - "*.sandbox.formance.cloud"

cert-manager:
  enabled: true
  installCRDs: true
  clusterResourceNamespace: gateway
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
  resources:
    requests:
      cpu: 100m
      memory: 320Mi
  ingressShim:
    defaultIssuerName: "r53-letsencrypt-prod"
    defaultIssuerKind: "ClusterIssuer"

traefik:
  enabled: true
  podDisruptionBudget:
    enabled: true
  providers:
    kubernetesCRD:
      enabled: true
      allowCrossNamespace: true
      allowExternalNameServices: false
      namespaces: [ ]
    kubernetesIngress:
      enabled: true
      allowExternalNameServices: false
      namespaces: [ ]
      publishedService:
        enabled: true
  service:
    type: LoadBalancer
  metrics:
    prometheus:
      entryPoint: metrics
      addRoutersLabels: true
  tracing:
   zipkin:
     httpEndpoint: http://localhost:9411/api/v2/spans
     sameSpan: false
     id128Bit: true
     sampleRate: 1.0
  additionalArguments:
    - "--entryPoints.websecure.forwardedHeaders.insecure=true"
    - "--experimental.plugins.auth.modulename=github.com/formancehq/gateway-plugin-auth"
    - "--experimental.plugins.auth.version=v0.1.13"
  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 100
    metrics:
      - type: Resource
        resource:
          name: memory
          targetAverageUtilization: 60
      - type: Resource
        resource:
          name: cpu
          targetAverageUtilization: 60
  resources:
    requests:
      cpu: "200m"
      memory: "250Mi"
    limits:
      cpu: "600m"
      memory: "300Mi"