global:
  # -- Enable debug mode
  # @section -- Global configuration
  debug: false
  # -- is the base domain for portal and console
  # @section -- Global configuration
  serviceHost: ""

  aws:
    # -- Enable AWS IAM Authentification
    # @section -- Global AWS configuration
    iam: false
    # -- Enable AWS ELB
    # @section -- Global AWS configuration
    elb: false

  postgresql:
    # -- Host for PostgreSQL (overrides included postgreql `host`)
    # @section -- Global configuration
    host: ""
    # -- Additional arguments for PostgreSQL Connection URI
    # @section -- Global configuration
    additionalArgs: "sslmode=disable"
    auth:
      # -- Name for a custom user to create (overrides `auth.username`)
      # @section -- Global configuration
      username: formance
      # -- Password for the "postgres" admin user (overrides `auth.postgresPassword`)
      # @section -- Global configuration
      password: formance
      # -- Name for a custom database to create (overrides `auth.database`)
      # @section -- Global configuration
      database: formance
      # -- Password for the custom user to create (overrides `auth.password`)
      # @section -- Global configuration
      postgresPassword: formance
      # -- Name of existing secret to use for PostgreSQL credentials (overrides `auth.existingSecret`).
      # @section -- Global configuration
      existingSecret: ""
      secretKeys:
        # -- Name of key in existing secret to use for PostgreSQL credentials (overrides `auth.secretKeys.adminPasswordKey`). Only used when `global.postgresql.auth.existingSecret` is set.
        # @section -- Global configuration
        adminPasswordKey: ""
        # -- Name of key in existing secret to use for PostgreSQL credentials (overrides `auth.secretKeys.userPasswordKey`). Only used when `global.postgresql.auth.existingSecret` is set.
        # @section -- Global configuration
        userPasswordKey: ""
    service:
      ports:
        # -- PostgreSQL service port (overrides `service.ports.postgresql`)
        # @section -- Global configuration
        postgresql: 5432

  monitoring:
    traces:
      # -- Enable otel tracing
      # @section -- Global configuration
      enabled: false
      # -- Enable otel batching
      # @section -- Global configuration
      batch: false
      # -- Endpoint
      # @section -- Global configuration
      endpoint: ""
      # -- Exporter
      # @section -- Global configuration
      exporter: "otlp"
      # -- Insecure
      # @section -- Global configuration
      insecure: true
      # -- Mode
      # @section -- Global configuration
      mode: "grpc"
      # -- Port
      # @section -- Global configuration
      port: 4317
  platform:
    consoleV3:
      # -- Enable console-v3 
      # @section -- Global configuration
      enabled: true
      # -- is the scheme for the console
      # @section -- Global configuration
      scheme: "https"
      # -- is the host for the console
      # @section -- Global configuration
      host: "console.v3.{{ .Values.global.serviceHost }}"
    portal:
      # -- is the scheme for the portal
      # @section -- Global configuration
      scheme: "https"
      # -- is the host for the portal
      # @section -- Global configuration
      host: "portal.{{ .Values.global.serviceHost }}"
      oauth:
        client:
          # -- is the id of the client
          # @section -- Global configuration
          id: "portal"
          # -- is the secret of the client
          # @section -- Global configuration
          secret: "changeMe1"
          # -- is the name of the secret
          # @section -- Global configuration
          existingSecret: ""
          # -- is the key contained within the secret
          # @section -- Global configuration
          secretKeys:
            secret: ""
          scopes:
          - accesses
          - remember_me
          - keep_refresh_token
          - on_behalf
          redirectUris: |
            - {{ tpl (printf "%s://%s" .Values.global.platform.portal.scheme .Values.global.platform.portal.host) $ }}/auth/login
            - {{ tpl (printf "%s://%s" .Values.global.platform.portal.scheme .Values.global.platform.portal.host) $ }}/auth/login-by-org
          postLogoutRedirectUris: |
            - {{ tpl (printf "%s://%s" .Values.global.platform.portal.scheme .Values.global.platform.portal.host) $ }}/auth/logout
    stargate:
      # -- if enabled, the stackApiUrl is not required
      # It will be templated with `{{ printf "http://%s-%s:8080/#{organizationId}/#{stackId}/api" .Release.Name "stargate" -}}`
      # @section -- Stargate configuration
      enabled: false
      # -- if stargate is disabled, the stackApiUrl is defaulted to the `http://gateway.#{organizationId}-#{stackId}.svc:8080/api`
      # To allow external access sets the stackApiUrl to an external url
      # @section -- Stargate configuration
      stackApiUrl: ""

    membership:
      # -- is the scheme for the membership
      # @section -- Global configuration
      scheme: "https"
      # -- is the host for the membership
      # @section -- Global configuration
      host: "membership.{{ .Values.global.serviceHost }}"

# -- Number of replicas
replicas: 1

podDisruptionBudget:
  # -- Enable pod disruption budget
  enabled: false
  # -- Minimum available pods
  minAvailable: 1
  # -- Maximum unavailable pods
  maxUnavailable: 0

# -- Pod Security Context
podSecurityContext: {}

# -- Container Security Context
securityContext: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

image:
  # -- image repository
  repository: ghcr.io/formancehq/portal
  # -- image pull policy
  pullPolicy: IfNotPresent
  # -- image tag
  tag: ""

imagePullSecrets: []

serviceAccount:
  # -- Service account creation
  create: true
  # -- Service account name
  name: ""
  # -- Service account annotations
  annotations: {}

ingress:
  # -- ingress enabled
  enabled: true
  # -- ingress class name
  className: ""
  # -- ingress annotations
  annotations: {}
  # -- ingress labels
  labels: {}
  hosts:
  # -- ingress host
  - host: "{{ tpl .Values.global.platform.portal.host $ }}"
    paths:
    # -- ingress path
    - path: /
      # -- ingress path type
      pathType: Prefix
  # -- ingress tls
  tls: []
    # -- ingress tls secret name
    # - secretName: YOUR_TLS_SECRET_NAME

# -- AWS Portal target groups
# @section -- Global AWS configuration
aws:
  targetGroups:
    http:
      ipAddressType: "ipv4"
      targetType: "ip"
      targetGroupARN: ""
      serviceRef:
        name: '{{ include "core.fullname" $ }}'
        port: "{{ .Values.service.ports.http.port }}"

# TODO: See helm tags for more information
# https://helm.sh/docs/chart_template_guide/variables/#tags
feature:
  # -- Run migration in a hook
  # @section -- Membership Feature
  migrationHooks: false

# Cookie store portal session in a cookie
config:
  # -- Portal environment
  environment: production

  # -- Enable managed stack mode (1 = enabled, 0 = disabled)
  managedStack: "1"

  # -- PostgreSQL connection URL override (if not set, will be generated from global.postgresql)
  # @section -- Portal configuration
  postgresqlUrl: ""

  featuresDisabled: []

  migration:
    # -- Enable migration job with a separated user
    # @section -- Migration configuration
    enabled: true
    # postgresql:
    #   auth:
    #     # -- Name for a custom user to create (overrides `auth.username`)
    #     # @section -- Migration configuration
    #     username: ""
    #     # -- Password for the "postgres" admin user (overrides `auth.postgresPassword`)
    #     # @section -- Migration configuration
    #     password: ""
    #     # -- Name of existing secret to use for PostgreSQL credentials (overrides `auth.existingSecret`).
    #     # @section -- Migration configuration
    #     existingSecret: ""
    #     secretKeys:
    #       # -- Name of key in existing secret to use for PostgreSQL credentials (overrides `auth.secretKeys.adminPasswordKey`). Only used when `global.postgresql.auth.existingSecret` is set.
    #       # @section -- Migration configuration
    #       adminPasswordKey: ""

    serviceAccount:
      create: true
      name: ""
      annotations: {}

    # -- Membership job migration annotations
    # Argo CD translate `pre-install,pre-upgrade` to: argocd.argoproj.io/hook: PreSync
    annotations: {}

    ttlSecondsAfterFinished: ""
    volumes: []
    volumeMounts: []
  cookie:
    # -- Cookie secret
    secret: "changeMe2"
    # -- Cookie existing secret
    existingSecret: ""
    # -- Cookie secret key
    secretKeys:
      secret: ""

  sentry:
    # -- Sentry enabled
    enabled: false
    # -- Sentry DSN
    dsn: ""
    # -- Sentry environment
    environment: ""
    # -- Sentry release
    release: ""
    # -- Sentry Auth Token
    authToken:
      value: ""
      existingSecret: ""
      secretKeys:
        value: ""

  # -- Additional environment variables
  additionalEnv: []
  # -- Override monitoring configuration
  # monitoring:
  #   # -- Override otel service name
  #   serviceName: "portal"
  #   # -- Override otel resources attributes
  #   attributes: ""

service:
  # -- service annotations
  annotations: {}
  # -- service type
  type: ClusterIP
  # -- service cluster IP
  clusterIP: ""
  ports:
    # -- service http port
    http:
      port: 3000
      # -- service node port
      # nodePort:

      # -- Portal volume mounts
volumeMounts: []

# -- Portal annotations 
annotations: {}

# -- Portal volumes
volumes: []

# -- Portal resources
resources: {}
  # requests:
  #   cpu: 250m
  #   memory: 512Mi
  # limits:
  #   cpu: 500m
  #   memory: 2048Mi

# -- Portal readiness probe
readinessProbe: {}

# -- Portal liveness probe
livenessProbe: {}

# -- Portal node selector
nodeSelector: {}

# -- Portal tolerations
tolerations: []

# -- Portal affinity
affinity: {}

postgresql:
  # -- Enable postgresql
  # @section -- Postgresql configuration
  enabled: false
