global:
  # -- TORework
  serviceName: agent

  # -- Enable global debug
  # @section -- Global configuration
  debug: false
  monitoring:
    traces:
      # -- Enable otel tracing
      # @section -- Global configuration
      enabled: false
      # -- Enable otel batching
      # @section -- Global configuration
      batch: false
      # -- Endpoint
      # @section -- Global configuration
      endpoint: ""
      # -- Exporter
      # @section -- Global configuration
      exporter: "otlp"
      # -- Insecure
      # @section -- Global configuration
      insecure: true
      # -- Mode
      # @section -- Global configuration
      mode: "grpc"
      # -- Port
      # @section -- Global configuration
      port: 4317
    logs:
      # -- Enable logging
      # @section -- Global configuration
      enabled: true
      # -- Level: Info, Debug, Error
      # @section -- Global configuration
      level: "info"
      # -- Format
      # @section -- Global configuration
      format: "json"

image:
  repository: ghcr.io/formancehq/agent
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Annotations to add to the service account
  annotations: {}

podAnnotations: {}

podSecurityContext: {}
# fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
# runAsUser: 1000

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

debug: false

server:
  address: "app.formance.cloud:443"
  tls:
    enabled: true
    insecureSkipVerify: true

config:
  monitoring:
    serviceName: agent

agent:
  id: "b7549a16-f74a-4815-ab1e-bb8ef1c3833b"
  baseUrl: ""

  # -- Only for public region
  # This flag is not sync by the server
  production: false

  # -- Any region:
  # - this flag is sync by the server
  # - it will mark the associated region as outdated and will block any new Creation/Enable/Restore
  outdated: false

  # Private Region Authentification
  authentication:
    # -- mode: token|bearer
    mode: bearer
    issuer: https://app.formance.cloud/api

    # -- Mode: Token
    token: ""

    # -- Mode: Bearer
    clientID: ""
    # -- Mode: Beare
    clientSecret: ""

    # -- Existing Secret
    existingSecret: ""
    secretKeys:
      secret: ""
